<main class="design">
  <div class="app-selection">
    <div class="app"><a routerLink="graphic-design" routerLinkActive="active" (click)="backToTop()">
        <h1 class="blogging-app">Graphic Design<br>App</h1>
      </a>
    </div>
    <div class="app"><a routerLink="expense-tracker" routerLinkActive="active" (click)="backToTop()">
        <h1 class="expense-tracker">Expense<br>Tracker</h1>
      </a></div>
    <div class="app"><a routerLink="todo" routerLinkActive="active" (click)="backToTop()">
        <h1 class="todo-list">Todo List</h1>
      </a></div>
  </div>
</main>
