.design {
  height: calc(100vh - 66px);
  scroll-margin-top: 66px;
  background: linear-gradient(-45deg, #3f5efb, #fc466b);
  background-size: 150% 150%;
  transition: background-color 1s ease-out, font-size 2s ease-out;

  @media screen and (max-width: 500px) {
    scroll-margin-top: 58px;
  }

  .app-selection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10% 0;

    .app {
      width: fit-content;
      text-align: center;
      color: #fffed7;
      cursor: pointer;

      a {
        text-decoration: none;

        h1 {
          color: #fffed7;
          opacity: 30%;
          text-align: center;
          transition: font-size 0.3s ease-out;
          width: fit-content;
          font-family: "Montserrat", sans-serif;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2em;
          letter-spacing: 0.6rem;
          justify-content: center;
          padding-bottom: 10px;

          @media screen and (max-width: 500px) {
            font-size: 1.6rem;
          }
        }

        &:hover h1 {
          font-size: 4.4em;
          opacity: 100%;
          animation: flow 5s ease-in-out infinite;
          background: linear-gradient(45deg, #ff1395, #ffa600, #fc466b);
          background-size: 300%;
          color: transparent;
          background-clip: text;

          @media screen and (max-width: 500px) {
            font-size: 1.8rem;
          }
        }

        @keyframes flow {
          0% {
            background-position: 0 50%;
          }

          50% {
            background-position: 100% 50%;
          }

          100% {
            background-position: 0 50%;
          }
        }
      }
    }
  }
}
