<body>
  <main class="cancerslug-main">
    <div class="cancerslug-main__post-container">
      <div class="cancerslug-post">
        <h1 class="">
          New tour dates!
        </h1>
        <p class="">
          Cancerslugs shows schedule on our tour dates page!
        </p>
      </div>
      <div class="cancerslug-post">
        <h1 class="">Oficial Cancerslug website is back!</h1>
        <p class="">Oficial Cancerslug website is back!</p>
      </div>
    </div>
    <img class="cancerslug-main__background home" draggable="false"
      src="/../../../../../../../assets/img/90330592_2574746062847126_8378266028664824889_n.jpg" alt="background">
  </main>
</body>
