<main class="dev">
  <div class="app-selection">
    <div (mouseover)="bloggingGlitchClass='glitch'" (mouseout)="bloggingGlitchClass=''" class="app"><a routerLink="blog"
        routerLinkActive="active" (click)="backToTop()">
        <h1 class="blogging-app" [ngClass]="bloggingGlitchClass">Blogging<br>App</h1>
      </a></div>
    <div (mouseover)="expenseGlitchClass='glitch'" (mouseout)="expenseGlitchClass=''" class="app"><a
        routerLink="expense-tracker" routerLinkActive="active" (click)="backToTop()">
        <h1 class="expense-tracker" [ngClass]="expenseGlitchClass">Expense<br>Tracker</h1>
      </a></div>
    <div (mouseover)="todoGlitchClass='glitch'" (mouseout)="todoGlitchClass=''" class="app"><a routerLink="todo"
        routerLinkActive="active" (click)="backToTop()">
        <h1 class="todo-list" [ngClass]="todoGlitchClass">Todo List</h1>
      </a></div>
    <a class="back-arrow-anchor" routerLink="../" routerLinkActive="active" (click)="backToTop()">
      <mat-icon matTooltip="Back to Portfolio" class="back-arrow">arrow_forward</mat-icon>
    </a>
  </div>
</main>
