@import "/src/app/shared/glitch.scss";

.dev {
  position: absolute;
  top: 66px;
  height: calc(100vh - 66px);
  width: 100%;
  scroll-margin-top: 66px;
  background-color: #1d1e20;

  @media screen and (max-width: 500px) {
    scroll-margin-top: 58px;
  }
  .app-selection {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10% 0;

    .app {
      width: fit-content;
      text-align: center;
      color: #fffed7;
      cursor: pointer;

      a {
        text-decoration: none;

        h1 {
          color: #fffed7;
          opacity: 0.3;
          text-align: center;
          transition: font-size 0.3s ease-out;
          width: fit-content;
          font-family: "Montserrat", sans-serif;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2em;
          letter-spacing: 0.6rem;
          justify-content: center;
          padding-bottom: 10px;

          @media screen and (max-width: 500px) {
            font-size: 1.6rem;
          }
        }

        &:hover > h1 {
          font-size: 4.4em;
          opacity: 1;

          @media screen and (max-width: 500px) {
            font-size: 1.8rem;
          }
        }
      }
    }

    .back-arrow-anchor {
      display: flex;
      width: fit-content;
      height: fit-content;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin: calc(50% - 30px) calc(15% - 30px) calc(50% - 30px)
        calc(85% - 30px);
      text-decoration: none;
      // @media screen and (max-width: 500px) {
      //   margin: calc(50% - 30px) calc(15% - 30px) calc(50% - 30px)
      //     calc(85% - 30px);
      // }
      &:hover {
        margin: calc(50% - 30px) calc(15% - 30px) calc(50% - 30px)
          calc(85% - 30px);
      }
      .back-arrow {
        position: absolute;
        color: #fffed7;
        opacity: 0.3;
        height: max(8vw, 66px);
        width: max(8vw, 66px);
        font-size: max(8vw, 66px);
        // height: 60px;
        // width: 60px;
        // font-size: 60px;
        cursor: pointer;
        vertical-align: middle;
        @media screen and (max-width: 500px) {
          height: 30px;
          width: 30px;
          font-size: 30px;
        }

        &:hover {
          color: blueviolet;
          margin: calc(50% - 45px) calc(50% - 45px) calc(50% - 45px)
            calc(50% - 45px);
          // height: 90px;
          // width: 90px;
          // font-size: 90px;
          transform: scale(1.5);
          opacity: 1;
          transition: 200ms ease-in;
        }
      }
    }
  }
}

.blogging-app.glitch::before,
.blogging-app.glitch::after {
  content: "Blogging App";
}

.expense-tracker.glitch::before,
.expense-tracker.glitch::after {
  content: "Expense Tracker";
}

.todo-list.glitch::before,
.todo-list.glitch::after {
  content: "Todo List";
}
