<mat-card>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" color="accent">

      <mat-label>Search:</mat-label>

      <input matInput placeholder="Ex. Leggings" (keyup)="search($event)">

    </mat-form-field>
  </form>

  <mat-accordion multi *ngIf="searchResult" class="search-results">

    <app-product *ngFor="let product of searchResult" [product]="product"></app-product>

  </mat-accordion>

  <app-paginator [numberOfElements]="numberOfProductsFoundOnSearch" (updatePage)="updatePage($event)"></app-paginator>

</mat-card>
