<main>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>Add Todo</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field color="accent">
          <mat-label>Task:</mat-label>
          <input matInput formControlName="task">
          <mat-error *ngIf="form.get('task').hasError('required')">
            A task name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Task priority</mat-label>
          <mat-select #priority formControlName="priority" [(ngModel)]="selectedValue">
            <mat-option *ngFor="let priority of priorityList; let i = index" [value]="priorityList[i]">
              {{priority}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="checkbox-wrapper">
          <mat-checkbox #setDescription formControlName="setDescription" color="accent"> Add a description to the task?
          </mat-checkbox>
        </div>

        <mat-form-field *ngIf="setDescription.checked" color="accent">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <div class="checkbox-wrapper">
          <mat-checkbox #setDate formControlName="setDate" color="accent">
            Set date and time?
          </mat-checkbox>
        </div>

        <mat-form-field *ngIf="setDate.checked" color="accent">
          <mat-label>Date:</mat-label>
          <input matInput type="datetime-local" formControlName="date" [min]="minDate"
            placeholder="Select a date on the calendar">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!form.valid || form.value.task === null" color="accent"
          class="submit">Submit</button>
      </mat-card-content>
    </form>
    <!-- <button mat-raised-button color="accent" (click)="test()">test</button> -->
  </mat-card>

  <mat-card class="todo-container" *ngIf="todoService.todoList.length > 0">
    <mat-card-header>
      <mat-card-title>Todo List</mat-card-title>
    </mat-card-header>
    <mat-card-content class="todo-list">
      <mat-card class="task" *ngFor="let todo of todoService.todoList" matTooltip="{{todo.description}}">
        <div class="task-content">
          <h3>Task:</h3> {{todo.task}}
        </div>
        <div class="task-buttons">
          <h3 *ngIf="todo.setDate">Date: </h3> <span *ngIf="todo.setDate">{{ todo.date }}</span>
          <mat-icon (click)="todo.toggleCompletionStatus()"
            *ngIf="todo.priority === 'Low Priority' && !todo.completionStatus" class="text-info">warning</mat-icon>
          <mat-icon (click)="todo.toggleCompletionStatus()"
            *ngIf="todo.priority === 'Medium Priority' && !todo.completionStatus" class="text-warning">warning
          </mat-icon>
          <mat-icon (click)="todo.toggleCompletionStatus()"
            *ngIf="todo.priority === 'High Priority' && !todo.completionStatus" class="text-danger">warning</mat-icon>
          <mat-icon (click)="todo.toggleCompletionStatus()" *ngIf="todo.completionStatus">check</mat-icon>
          <!-- <mat-icon>edit</mat-icon> -->
          <mat-icon (click)="todoService.deleteTodo(todo)">delete</mat-icon>
        </div>
      </mat-card>

      <div class="listFooter">
        <div class="priorityLabels">
          <div class="label-wrapper text-danger">
            <mat-icon>warning</mat-icon>
            <h3>High priority</h3>
          </div>
          <div class="label-wrapper text-warning">
            <mat-icon>warning</mat-icon>
            <h3>Medium priority</h3>
          </div>
          <div class="label-wrapper text-info">
            <mat-icon>warning</mat-icon>
            <h3>Low priority</h3>
          </div>
          <div class="label-wrapper accent">
            <mat-icon>check</mat-icon>
            <h3>Complete</h3>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</main>
