section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: blueviolet;
}

section mat-card {
  width: 90%;
  max-width: 900px;
  margin: 10px 0;
}

section mat-card mat-card-title {
  color: blueviolet;
}

section mat-card mat-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 16px;
}

section mat-card mat-form-field,
section mat-card .checkbox-wrapper,
section mat-card button {
  width: 100%;
}

section mat-card mat-form-field:nth-child(1),
section mat-card mat-form-field:nth-child(2) {
  width: 50%;
}

section mat-card mat-form-field:nth-child(odd) {
  padding-right: 16px;
}

section mat-card mat-checkbox {
  margin: 8px 0;
}

section mat-card mat-form-field textarea {
  line-height: 0.5;
}

section mat-card button {
  margin-top: 1.25em;
}

@media (max-width: 680px) {
  section mat-card mat-card-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section mat-card mat-card-content mat-form-field {
    width: 100%;
  }
}

section .todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .todo-list .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section .todo-list .task .task-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section .todo-list .task .task-content h3 {
  margin: 0 4px 0 0;
}

section .task-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 10px;
  cursor: pointer;
  color: blueviolet;
}

section li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

section li h3 {
  font-weight: bold;
  margin: 0 5px 0 0;
}

section li mat-divider {
  height: 20px;
  margin: 0 10px;
}

.listFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #69567a;
  width: 100%;
}

.listFooter .priorityLabels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  margin: 0 16px;
}

.listFooter .priorityLabels mat-divider {
  width: 80%;
}

.listFooter .priorityLabels .label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listFooter .priorityLabels .label-wrapper h3 {
  margin: 4px 0 0 8px;
}

@media (max-width: 680px) {
  .listFooter .priorityLabels .label-wrapper h3 {
    display: none;
  }
}
/*# sourceMappingURL=todo.component.css.map */