<nav class="navbar" [ngClass]="{'navbar-fixed': isFixedNavbar}">
  <div class="navbar-logo">
    <a routerLink="" class="logo animateDown">Diego Braga Ponte</a>
  </div>
  <button mat-icon-button class="navbar-toggle" (click)="toggleNavbar()">
    <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
  </button>

  <div class="top-navbar">
    <!-- <span fxFlex></span> -->
    <a class="navbartop-btn" mat-button routerLink="home" routerLinkActive="active"
      (click)="toggleNavbar(); backToTop()">Home</a>
    <a class="navbartop-btn" mat-button routerLink="about" routerLinkActive="active"
      (click)="toggleNavbar(); backToTop()">About</a>
    <a class="navbartop-btn" mat-button routerLink="portfolio" routerLinkActive="active"
      (click)="toggleNavbar(); backToTop()">Portfolio</a>
    <a class="navbartop-btn" mat-button routerLink="contact" routerLinkActive="active"
      (click)="toggleNavbar(); backToTop()">Contact</a>
  </div>
</nav>
