<div class="paginator-wrapper">

  <mat-icon class="expand-more" matTooltip="More options">expand_more</mat-icon>

  <mat-paginator [pageIndex]="0" [length]="paginator?.total_items_count" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
  </mat-paginator>

  <div class="more-options">
    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
    <div class="goto-wrapper">

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Go to product:</mat-label>
        <input #page matInput type="number" name="gotoInput" [(ngModel)]="goToProductNumer" (keyup)="minMaxer()">
        <mat-hint align="end">{{page.value ? page.value : 0}} / {{paginator?.total_items_count}}</mat-hint>
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent">Go to</button>
    </div>

  </div>
</div>
