.overlay {
  position: fixed;
  display: flex;
  right: 25px;
  bottom: 25px;
  flex-direction: column;
  align-items: flex-end;

  button {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .overlay {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    padding: 10px 20%;

    button {
      margin-top: 10px;
    }
  }
}
