<div *ngIf="blogManager.blogPosts.length != 0" class="overlay">
  <button (click)="openNewPostDialog()" mat-fab color="accent" matTooltip="New post" aria-label="New post">
    <mat-icon>add</mat-icon>
  </button>

  <button (click)="openSearchDialog()" mat-fab color="accent" matTooltip="Search post" aria-label="Search post">
    <mat-icon>search</mat-icon>
  </button>

  <button (click)="backToTop()" mat-fab color="accent" matTooltip="Back to the top" aria-label="Back to the top">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
