main {
  display: flex;
  justify-content: center;
  background-image: url(../../assets/img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  height: calc(100vh - 66px);
  width: 100%;
  padding: min(10%, 70px) 10%;

  h1 {
    font-family: Montserrat;
    text-align: center;
    color: #fffed7;
    font-size: 4rem;
    font-weight: 700;
    line-height: 115%;
    align-self: start;
    margin-top: 16px;
  }
}
