form {
  margin-bottom: 16px;

  mat-form-field,
  text-area,
  input {
    width: 100%;
  }

  img {
    padding-bottom: 16px;
  }

  mat-accordion {
    mat-expansion-panel {
      h2 {
        color: blueviolet;
        margin: 16px 0;
        font-weight: 500;
      }
      h3 {
        margin: 16px 0;
        span {
          color: blueviolet;
          font-weight: 500;
        }
      }
    }
  }
}

.checkout {
  h2 {
    color: blueviolet;
    font-weight: 500;
  }
  .checkbox-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
