.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "empty title button";

  .title {
    grid-area: title;
    justify-self: center;
  }

  .close-button {
    grid-area: button;
    justify-self: flex-end;
  }
}

.search-field {
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  .radio-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 5px 0 5px 0;
    mat-radio-button {
      padding: 5px 10px 5px 0;
    }
  }
}
