<div mat-dialog-title class="header">
  <h1 class="title">Search</h1>
  <button class="close-button" mat-raised-button mat-dialog-close mat-fab color="accent" matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="search-field">
  <mat-radio-group class="radio-buttons-wrapper" aria-label="Select an option">
    <label color="accent">Search by:</label>
    <mat-radio-button (change)="radioButtonChange($event)" value="1">Title</mat-radio-button>
    <mat-radio-button (change)="radioButtonChange($event)" value="2">Date</mat-radio-button>
    <mat-radio-button (change)="radioButtonChange($event)" value="3">Tag</mat-radio-button>
    <mat-radio-button (change)="radioButtonChange($event)" value="4">ID</mat-radio-button>
  </mat-radio-group>

  <form class="search-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search:</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Number" color="accent" matInput [formControl]="myControl"
        [matAutocomplete]="auto" matTooltip="Search for a blog post" [(ngModel)]="searchInputValue">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<mat-dialog-content>
  <p *ngFor="let option of filteredOptions | async" [value]="option">
    {{option}}
  </p>
</mat-dialog-content>
