<div mat-dialog-title class="header">
  <h1 class="title">Search</h1>
  <button class="close-button" mat-raised-button mat-dialog-close mat-fab color="accent" matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="search-radio">
  <label color="accent">Search by:</label>
  <mat-radio-group class="radio-buttons-wrapper" [value]="activeRadioButton" aria-label="Select an option">
    <mat-radio-button (change)="radioButtonChange($event)" value="1">Title</mat-radio-button>
    <mat-radio-button (change)="radioButtonChange($event)" value="2">Date</mat-radio-button>
    <mat-radio-button (change)="radioButtonChange($event)" value="3">Tag</mat-radio-button>
    <mat-radio-button (change)="radioButtonChange($event)" value="4">ID</mat-radio-button>
  </mat-radio-group>

  <form class="search-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search:</mat-label>
      <input #searchField type="text" placeholder="Search terms here..." color="accent" matInput
        [formControl]="myControl" [matAutocomplete]="auto" matTooltip="Search for a blog post">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button (click)="search()" color="accent" mat-raised-button>Search</button>
  </form>
</div>

<mat-dialog-content *ngIf="queriedPosts">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 search-results">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row"><a href="blog/{{row.id}}">{{row.title}}</a></td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date.toLocaleString()}}</td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tags</th>
      <td mat-cell *matCellDef="let row"><span *ngFor="let tag of row.postTags">{{tag}}, </span></td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--
  <p *ngFor="let post of queriedPosts">
    <a href="blog/{{post.id}}">{{post.title}}</a> - {{post.date.toLocaleString()}} - <span
      *ngFor="let tag of post.postTags">{{tag}}</span> - {{post.id}}
  </p> -->
  <!-- <div *ngFor="let option of filteredOptions | async">
    <p>
      {{option}}
    </p>
  </div> -->
</mat-dialog-content>
