.sec-portfolio_intro {

  display: flex;
  height: calc(100vh - 66px);
  width: 100%;
  background: #FC466B;  /* fallback for old browsers */
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #3F5EFB, #FC466B);
  background-size: 150% 150%;
  animation: gradient 2.5s infinite alternate ease-in-out;

  .sec-portfolio_intro-txt {
      text-align: center;
      width: 80%;
      max-height: 80%;

      h1 {

          width: 100%;
          font-family: 'Montserrat', sans-serif;
          font-size:3.5rem;
          font-weight: 700;
          color: #1d1e20;
          letter-spacing: 0.6rem;
          justify-content: center;
          padding-bottom: 10px;

              @media screen and (max-width: 500px) {
              font-size: 2.8rem;
              }
      }

      h2 {
          width: 100%;
          font-family: 'Montserrat', sans-serif;
          font-size: 2.5rem;
          font-weight: 350;
          color: #1d1e20;
          justify-content: center;

          animation-delay: 50ms;

          @media screen and (max-width: 500px) {
              font-size: 2rem;
          }
      }
  }
}

@keyframes gradient {
0% {
      background-position: 30% 30%;
  }
25% {
      background-position: 30% 70%;
  }
50% {
      background-position: 70% 70%;
  }

75% {
      background-position: 30% 70%;
}

}

.sec-portfolio {
  background-color: rgba(99, 40, 238, 1);

  .portfolio-post-wraper {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;

          &:nth-child(even) {
              background-color: #FC466B;
          }
  }

  .portfolio-post {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      width: 80%;
      height: 100%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 20px;

      // @media screen and (min-width: 1025px) {
      //     padding-top: 35px;
      //     max-width: 600px;
      // }

        .text, .text-tab {
            display: flex;
            flex: 0 1 0;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            color: #FFFED7;
            padding: 35px 0;

            h1 {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 115%;
                margin-left: -4px;
                margin-top: 3px;
                padding-left: 3px;
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: solid 1px #FFFED7;
                border-image: linear-gradient(270deg, rgba(255,254,215,0) 0%, rgba(255,254,215,0.5) 100%) 1;

                // @media screen and (min-width: 1025px) {
                //     padding-bottom: 8px;
                //     font-size: 3.5rem;
                //     font-weight: 700;
                //     line-height: 115%;
                // }
            }

            p {
                font-size: 1.5rem;
                font-weight: 300;
                letter-spacing: .05em;
                padding: 5px 0;
                // text-align: justify;

                // @media screen and (min-width: 1025px) {
                //     font-size: 1.8rem;
                //     font-weight: 300;
                //     padding-bottom: 8px;
                // }
            }

          }

        .text-tab {
          padding: 15px 0;
        }

      .img-container {
          position: relative;
          display: flex;
          overflow: hidden;
          justify-content: center;
          padding-bottom: 10px;
          margin: auto;

        }

            .img-container img {
                display: inline-block;
                max-width: 100%;
                max-height: 100%;
                object-fit: scale-down;
                z-index: 2;
            }
  }
}

.brightnessUp {
  filter: brightness(120%);
}

@keyframes up {
  from {
      opacity: 0;
      transform: translateY(16px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animateUp {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

@keyframes down {
  from {
      opacity: 0;
      transform: translateY(-16px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animateDown {
  animation-name: down;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

.caixa {
  display: flex;
  width: 500px;
  height: 500px;
  background: black;
  margin: auto;
}

.box {
  width: 100px;
  height: 100px;
  background: green;
  margin: auto;
}

.flip {
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

// custom
.flip {
    position: relative;
    overflow: hidden;
    >.front,
    >.back {
      display: block;
      color: white;
      border-radius: 4px;
      max-width: 770px;
    }
}

.cursor-pointer {
  cursor: pointer;
}

.test-wrapper  {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: coral;

  .w1 {
    background-color: red;
  }

  .w2 {
    background-color: green;
  }

  .w3 {
    background-color: blue;
  }

  .w4 {
    background-color: yellow;
  }

  .w5 {
    background-color: orange;
  }

  .w6 {
    background-color: purple;
  }

}
