.portfolio_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 66px);
  width: 100%;
  background: #fc466b;
  /* fallback for old browsers */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(-45deg, #3f5efb, #fc466b);
  background-size: 150% 150%;
  -webkit-animation: gradient 2.5s infinite alternate ease-in-out;
          animation: gradient 2.5s infinite alternate ease-in-out;
}

.portfolio_intro .porfolio_selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.portfolio_intro .porfolio_selection > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 1s ease-out, font-size 2s ease-out;
  transition: background-color 1s ease-out, font-size 2s ease-out;
  cursor: pointer;
}

.portfolio_intro .porfolio_selection > div h1 {
  color: #fffed7;
  opacity: 30%;
  text-align: center;
  -webkit-transition: font-size 0.3s ease-out;
  transition: font-size 0.3s ease-out;
}

.portfolio_intro .porfolio_selection > div:hover > h1 {
  font-size: 4.4em;
  opacity: 100%;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.portfolio_intro .porfolio_selection .dev {
  background-color: #1d1e20;
}

.portfolio_intro .porfolio_selection .dev h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.portfolio_intro .porfolio_selection .dev:hover h1 {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.portfolio_intro .porfolio_selection .design:hover h1 {
  -webkit-animation: flow 5s ease-in-out infinite;
          animation: flow 5s ease-in-out infinite;
  background: linear-gradient(45deg, #ff1395, #ffa600, #fc466b);
  background-size: 300%;
  color: transparent;
  background-clip: text;
}

@-webkit-keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media (max-width: 800px) {
  .portfolio_intro .porfolio_selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio_intro .porfolio_selection > div {
    width: 100%;
    height: 50%;
  }
}

.portfolio_intro h1 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2em;
  color: #1d1e20;
  letter-spacing: 0.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .portfolio_intro h1 {
    font-size: 2.8rem;
  }
}

.portfolio_intro h2 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 350;
  line-height: 1.2em;
  color: #1d1e20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

@media screen and (max-width: 500px) {
  .portfolio_intro h2 {
    font-size: 2rem;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 30% 30%;
  }
  25% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 70% 70%;
  }
  75% {
    background-position: 30% 70%;
  }
}

@keyframes gradient {
  0% {
    background-position: 30% 30%;
  }
  25% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 70% 70%;
  }
  75% {
    background-position: 30% 70%;
  }
}

.overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 25px;
  bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 5;
}

.overlay button {
  margin-top: 10px;
}

.overlay button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dev-portolio {
  height: 100vh;
  scroll-margin-top: 66px;
}

.portfolio {
  background-color: #6328ee;
}

.portfolio .portfolio-post-wraper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .portfolio-post-wraper:nth-child(even) {
  background-color: #fc466b;
}

.portfolio .portfolio-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.portfolio .portfolio-post .text,
.portfolio .portfolio-post .text-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0px;
          flex: 0 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #fffed7;
  padding: 35px 0;
}

.portfolio .portfolio-post .text h1,
.portfolio .portfolio-post .text-tab h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0.01em;
  margin-left: -4px;
  margin-top: 3px;
  padding-left: 3px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #fffed7;
  -o-border-image: linear-gradient(270deg, rgba(255, 254, 215, 0) 0%, rgba(255, 254, 215, 0.5) 100%) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 254, 215, 0)), to(rgba(255, 254, 215, 0.5))) 1;
     border-image: linear-gradient(270deg, rgba(255, 254, 215, 0) 0%, rgba(255, 254, 215, 0.5) 100%) 1;
}

.portfolio .portfolio-post .text p,
.portfolio .portfolio-post .text-tab p {
  font-size: 1.5rem;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 5px 0;
}

.portfolio .portfolio-post .text-tab {
  padding: 15px 0;
}

.portfolio .portfolio-post .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  margin: auto;
}

.portfolio .portfolio-post .img-container img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  z-index: 2;
}

.brightnessUp {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

@-webkit-keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animateUp {
  -webkit-animation-name: up;
          animation-name: up;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animateDown {
  -webkit-animation-name: down;
          animation-name: down;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.caixa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 500px;
  background: black;
  margin: auto;
}

.box {
  width: 100px;
  height: 100px;
  background: green;
  margin: auto;
}

.flip {
  position: relative;
}

.flip > .front,
.flip > .back {
  display: block;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.flip > .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip:hover > .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.flip {
  position: relative;
  overflow: hidden;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  border-radius: 4px;
  max-width: 770px;
}

h1.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px;
}

h1.glitch::before,
h1.glitch::after {
  padding: 30px;
  color: white;
  content: "DEV";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1e20;
  overflow: hidden;
  top: 0;
}

h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  -webkit-animation-name: glitch-animation-1;
          animation-name: glitch-animation-1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  -webkit-animation-name: glitch-animation-2;
          animation-name: glitch-animation-2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: reverse-alternate;
          animation-direction: reverse-alternate;
}

@-webkit-keyframes glitch-animation-1 {
  0% {
    clip: rect(18px, 350px, 77px, 30px);
  }
  5% {
    clip: rect(73px, 350px, 58px, 30px);
  }
  10% {
    clip: rect(58px, 350px, 18px, 30px);
  }
  15% {
    clip: rect(64px, 350px, 57px, 30px);
  }
  20% {
    clip: rect(66px, 350px, 41px, 30px);
  }
  25% {
    clip: rect(13px, 350px, 83px, 30px);
  }
  30% {
    clip: rect(115px, 350px, 41px, 30px);
  }
  35% {
    clip: rect(114px, 350px, 128px, 30px);
  }
  40% {
    clip: rect(72px, 350px, 14px, 30px);
  }
  45% {
    clip: rect(76px, 350px, 145px, 30px);
  }
  50% {
    clip: rect(83px, 350px, 107px, 30px);
  }
  55% {
    clip: rect(141px, 350px, 118px, 30px);
  }
  60% {
    clip: rect(40px, 350px, 10px, 30px);
  }
  65% {
    clip: rect(85px, 350px, 129px, 30px);
  }
  70% {
    clip: rect(26px, 350px, 24px, 30px);
  }
  75% {
    clip: rect(10px, 350px, 50px, 30px);
  }
  80% {
    clip: rect(121px, 350px, 119px, 30px);
  }
  85% {
    clip: rect(109px, 350px, 67px, 30px);
  }
  90% {
    clip: rect(55px, 350px, 39px, 30px);
  }
  95% {
    clip: rect(32px, 350px, 17px, 30px);
  }
  100% {
    clip: rect(97px, 350px, 10px, 30px);
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(18px, 350px, 77px, 30px);
  }
  5% {
    clip: rect(73px, 350px, 58px, 30px);
  }
  10% {
    clip: rect(58px, 350px, 18px, 30px);
  }
  15% {
    clip: rect(64px, 350px, 57px, 30px);
  }
  20% {
    clip: rect(66px, 350px, 41px, 30px);
  }
  25% {
    clip: rect(13px, 350px, 83px, 30px);
  }
  30% {
    clip: rect(115px, 350px, 41px, 30px);
  }
  35% {
    clip: rect(114px, 350px, 128px, 30px);
  }
  40% {
    clip: rect(72px, 350px, 14px, 30px);
  }
  45% {
    clip: rect(76px, 350px, 145px, 30px);
  }
  50% {
    clip: rect(83px, 350px, 107px, 30px);
  }
  55% {
    clip: rect(141px, 350px, 118px, 30px);
  }
  60% {
    clip: rect(40px, 350px, 10px, 30px);
  }
  65% {
    clip: rect(85px, 350px, 129px, 30px);
  }
  70% {
    clip: rect(26px, 350px, 24px, 30px);
  }
  75% {
    clip: rect(10px, 350px, 50px, 30px);
  }
  80% {
    clip: rect(121px, 350px, 119px, 30px);
  }
  85% {
    clip: rect(109px, 350px, 67px, 30px);
  }
  90% {
    clip: rect(55px, 350px, 39px, 30px);
  }
  95% {
    clip: rect(32px, 350px, 17px, 30px);
  }
  100% {
    clip: rect(97px, 350px, 10px, 30px);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(148px, 350px, 88px, 30px);
  }
  5% {
    clip: rect(124px, 350px, 85px, 30px);
  }
  10% {
    clip: rect(55px, 350px, 97px, 30px);
  }
  15% {
    clip: rect(117px, 350px, 140px, 30px);
  }
  20% {
    clip: rect(63px, 350px, 65px, 30px);
  }
  25% {
    clip: rect(142px, 350px, 68px, 30px);
  }
  30% {
    clip: rect(52px, 350px, 25px, 30px);
  }
  35% {
    clip: rect(45px, 350px, 140px, 30px);
  }
  40% {
    clip: rect(37px, 350px, 55px, 30px);
  }
  45% {
    clip: rect(145px, 350px, 15px, 30px);
  }
  50% {
    clip: rect(52px, 350px, 104px, 30px);
  }
  55% {
    clip: rect(64px, 350px, 29px, 30px);
  }
  60% {
    clip: rect(1px, 350px, 136px, 30px);
  }
  65% {
    clip: rect(111px, 350px, 140px, 30px);
  }
  70% {
    clip: rect(93px, 350px, 22px, 30px);
  }
  75% {
    clip: rect(69px, 350px, 109px, 30px);
  }
  80% {
    clip: rect(13px, 350px, 32px, 30px);
  }
  85% {
    clip: rect(36px, 350px, 127px, 30px);
  }
  90% {
    clip: rect(27px, 350px, 75px, 30px);
  }
  95% {
    clip: rect(26px, 350px, 146px, 30px);
  }
  100% {
    clip: rect(16px, 350px, 19px, 30px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(148px, 350px, 88px, 30px);
  }
  5% {
    clip: rect(124px, 350px, 85px, 30px);
  }
  10% {
    clip: rect(55px, 350px, 97px, 30px);
  }
  15% {
    clip: rect(117px, 350px, 140px, 30px);
  }
  20% {
    clip: rect(63px, 350px, 65px, 30px);
  }
  25% {
    clip: rect(142px, 350px, 68px, 30px);
  }
  30% {
    clip: rect(52px, 350px, 25px, 30px);
  }
  35% {
    clip: rect(45px, 350px, 140px, 30px);
  }
  40% {
    clip: rect(37px, 350px, 55px, 30px);
  }
  45% {
    clip: rect(145px, 350px, 15px, 30px);
  }
  50% {
    clip: rect(52px, 350px, 104px, 30px);
  }
  55% {
    clip: rect(64px, 350px, 29px, 30px);
  }
  60% {
    clip: rect(1px, 350px, 136px, 30px);
  }
  65% {
    clip: rect(111px, 350px, 140px, 30px);
  }
  70% {
    clip: rect(93px, 350px, 22px, 30px);
  }
  75% {
    clip: rect(69px, 350px, 109px, 30px);
  }
  80% {
    clip: rect(13px, 350px, 32px, 30px);
  }
  85% {
    clip: rect(36px, 350px, 127px, 30px);
  }
  90% {
    clip: rect(27px, 350px, 75px, 30px);
  }
  95% {
    clip: rect(26px, 350px, 146px, 30px);
  }
  100% {
    clip: rect(16px, 350px, 19px, 30px);
  }
}
/*# sourceMappingURL=portfolio.component.css.map */