h5 {
  display: flex;
  font-size: 1em;
  font-weight: 200;
  color: #606060;
}

.author-name {
  display: inline-block;
  color: blueviolet;
  font-weight: strong;
}

mat-card {
  margin-top: 10px;
}
