.balance-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 30px;

  h1{
    margin: 10px 0;
  }
}
.income-expense {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  justify-content: center;
  align-items: center;

  mat-divider{
    height: 24px;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 20px;

    & > span {
      padding-left: 5px;
    }
  }
}
