  <mat-accordion class="balance-area">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title align="center">
          <h1 class="balance-wrapper">Balance: <span class="balance"
              [class.text-danger]='transactionsManagerService.getBalance() < 0'
              [class.text-success]='transactionsManagerService.getBalance() > 0'> {{
              transactionsManagerService.getBalance() |
              currency}}</span></h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="income-expense-wrapper">
        <div class="income-expense">
          <h2 class="income-wrapper">Income: <span class="text-success">{{
              transactionsManagerService.getIncomeTotalValue()
              | currency }}</span></h2>
          <mat-divider vertical></mat-divider>
          <h2 class="expense-wrapper">Expense: <span class="text-danger">{{
              transactionsManagerService.getExpensesCurrentTotal() | currency }}</span></h2>
        </div>
      </div>
    </mat-expansion-panel>
