<main [@.disabled]="disableAnimation">
  <app-balance-manager></app-balance-manager>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Menu</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Create Transaction</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form #transactionForm [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field color="accent">
              <mat-label>Transaction:</mat-label>
              <input #transaction matInput formControlName="transaction">
              <mat-error *ngIf="form.get('transaction').hasError('required')">
                A transaction name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
              <mat-label>Amount:</mat-label>
              <input type="number" #amount matInput formControlName="amount">
              <mat-error *ngIf="form.get('amount').hasError('required')">
                A transaction amount is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <button #submit mat-raised-button type="submit" [disabled]="!form.value.transaction || !form.value.amount"
              color="accent">Add transaction</button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel class="transactions-list">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Transactions</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-transactions-table></app-transactions-table>

        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>History</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-history></app-history>

        </mat-expansion-panel>
      </mat-accordion>

      <app-expenses-details></app-expenses-details>
    </mat-expansion-panel>
  </mat-accordion>
</main>

<router-outlet></router-outlet>
