<app-transactions-table></app-transactions-table>
<div *ngIf="transactionsManagerService.transactionsList.length !== 0">
  <h2>Transactions history:</h2>
  <ul>
    <li *ngFor="let transaction of transactionsManagerService.transactionsList">
      <strong>Transaction name: </strong>{{transaction.name}} <strong>Transaction amount:
      </strong>{{transaction.amount}}
      <label *ngIf="transaction.amount < 0" for="checkPayment">Check if expense is paid</label>
      <input *ngIf="transaction.amount < 0" type="checkbox" name="checkPayment"
        (click)="transactionsManagerService.togglePaymentStatus(transaction)">
      <button (click)="transactionsManagerService.delete(transaction)" name="remove">X</button>
      <label for="remove">Remove transaction</label>
    </li>
  </ul>

</div>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Transactions history:</h2>
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li *ngFor="let transaction of transactionsManagerService.transactionsList">
        <strong>Transaction name: </strong>{{transaction.name}} <strong>Transaction amount:
        </strong>{{transaction.amount}}
        <label *ngIf="transaction.amount < 0" for="checkPayment">Check if expense is paid</label>
        <input *ngIf="transaction.amount < 0" type="checkbox" name="checkPayment"
          (click)="transactionsManagerService.togglePaymentStatus(transaction)">
        <button (click)="transactionsManagerService.delete(transaction)" name="remove">X</button>
        <label for="remove">Remove transaction</label>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>

