@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.cancerslug-landing {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .cancerslug-landing__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    max-width: 500px;
    max-height: 85%;
    z-index: 2;

    .cancerslug-landing__logotext {
      display: flex;
      margin: auto;
      max-width: 100%;
      padding-bottom: clamp(10px, 5vh, 25px);
      user-select: none;

      @media screen and (min-height: 920px) {
        width: clamp(220px, 80%, 90%);
        min-width: 220px;
      }
    }

    .cancerslug-landing__logo {
      margin: auto;
      max-width: 40%;
      min-width: 140px;
      filter: invert(100%);
      user-select: none;

      @media screen and (max-height: 920px) {
        max-width: 30%;
      }
    }

    .cancerslug-landing__text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      text-align: center;
      color: white;
      padding-top: 2em;
      cursor: pointer;
      user-select: none;

      h1 {
        font-family: "Permanent Marker", cursive;
        font-size: clamp(2rem, 4vw, 2rem);

        a {
          color: white;
          text-decoration: none;
        }
        &:hover {
          transform: scale(1.2) skew(-10deg);
          transition: 100ms ease-in-out;
        }

        @media screen and (max-height: 700px) {
          font-size: 2.8em;
          margin-bottom: 30px;
        }
      }
    }
  }

  .cancerslug-landing__video {
    // As a background
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    // z-index: -3;
    //Fallback color
    background-color: black;

    &-wrapper::before {
      //Filter
      opacity: 50%;
      content: "";
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaUlEQVQoU12PCw2AMAwFbzaGDLCBDXSgAxvYABlgY+RgWxqaLOnn+vqWgBE4+WIFNuCudUk1EZorYCsDF5Aa4OYelAowqCTg0GeodLhZ62yiXL8JTNFTJ9vNv6cG9JvhN68nAYdRaYmeHot9F9X2eFD0AAAAAElFTkSuQmCC);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }
  }
}
