<body draggable="false">
  <main class="cancerslug-landing" draggable="false">
    <div class="cancerslug-landing__container" draggable="false">
      <div class="logotext-wrapper">
        <img class="cancerslug-landing__logotext" draggable="false" src="../../../../../assets/img/cslogotext.png"
          alt="cancerslug-logotext" />
      </div>
      <img class="cancerslug-landing__logo" draggable="false" src="/../../../../../../assets/img/cslogo.png"
        alt="cancerslug-logo" />
      <div class="cancerslug-landing__text" draggable="false">
        <h1 class="cancerslug-landing__text__home"><a routerLink="home" routerLinkActive="active">Home</a></h1>
        <h1 class="cancerslug-landing__text__merch"><a routerLink="store" routerLinkActive="active">Merch</a></h1>
        <h1 class="cancerslug-landing__text__contact"><a href="">Contact</a></h1>
      </div>
    </div>
    <div class="cancerslug-landing__video-wrapper" draggable="false">
      <video class="cancerslug-landing__video" draggable="false" autoplay="" loop="" [muted]="'muted'">
        <source src="../../../../assets/video/csvideo.mp4" type="video/mp4" />
      </video>
    </div>
  </main>
</body>
