.post-wrapper {
  padding: 0 15%;
}
.post {
  position: relative;
  border-radius: 10px;
  padding: 15px 0;

  a {
    text-decoration: none;

    &:visited {
      color: blueviolet;
    }
  }

  &:hover > .options i {
    display: flex;
  }

  &:hover button {
    padding: 1em;
  }

  .options {
    position: absolute;
    right: 0;
    display: flex;
    color: white;
    margin: 0.4em 0;

    button {
      min-height: 0;
      margin-left: 5px;
    }

    i {
      display: none;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      font-size: 1.4em;

      &:before {
        margin: 0;
      }
    }

    & > div {
      padding-right: 0.4em;
    }
  }

  h1 {
    color: rgb(138, 43, 226);
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4em;
    font-weight: 500;
    margin: 0.4em 0;
    border-radius: 10px 10px 0 0;
  }

  .header-info {
    display: flex;
    justify-content: space-between;

    h5 {
      display: flex;
      font-size: 1em;
      font-weight: 200;
      color: #606060;
    }

    .posting-info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .post-date {
        display: flex;
        flex-direction: column;
      }

      .separator {
        margin: 0 5px;
        font-size: 1.5em;

        @media screen and (max-width: 580px) {
          display: none;
          opacity: 0;
        }
      }
      .author {
        display: flex;

        .author-name {
          color: blueviolet;
        }
      }
    }
    .post-id {
      flex-direction: row;
      margin-left: 10px;
    }
  }

  picture {
    width: 100px;
    height: 100px;

    img {
      margin: auto;
    }
  }

  p {
    font-family: "Open Sans", sans-serif;
    color: #33475b;
    border-radius: 0 0 10px 10px;
    font-size: 1.125rem;
    line-height: 1.6em;
    margin: 0.4em 0;
  }
}

.editTextInput {
  width: 100%;
}

.comments-area {
  display: flex;
  flex-direction: column;

  app-new-comment-form {
    width: 100%;
  }
}
