<div class="post">
  <div class="options fade-in">
    <button class="fade-in" (click)="editPost()" mat-raised-button color="accent"><i class="fas fa-edit"></i></button>
    <button class="fade-in" (click)="deletePost()" mat-raised-button color="accent"><i
        class="fas fa-trash"></i></button>
  </div>

  <h1 class="title">
    {{ post.title }}
  </h1>

  <div class="header-info">
    <div class="posting-info">
      <div class="post-date">
        <h5 *ngIf="!post.postScheduled">
          Posted on {{ post.date.toLocaleString() }}
        </h5>

        <h5 *ngIf="post.postScheduled">
          Written on {{ post.date.toLocaleString() }}
        </h5>
        <h5 *ngIf="post.postScheduled">
          To be posted on {{ post.scheduledDate.toLocaleString() }}
        </h5>
      </div>
      <h5 class="separator">•</h5>
      <div class="author">
        <h5>
          By: &nbsp; <div class="author-name">{{ post.posterEmail }}</div>
        </h5>
      </div>
    </div>
    <h5 class="post-id">
      Post ID:{{post.id}}
    </h5>
  </div>

  <picture>
    <img [src]="post.img" alt="Post image">
  </picture>
  <app-widget-bar [post]="post"></app-widget-bar>
  <p>
    {{ post.text }}
  </p>
</div>
<mat-divider></mat-divider>
<section class="comments-area">
  <div class="comments">
    <div *ngFor="let comment of post.comments" class="comments-column">
      <app-comments [comment]="comment" class="comment"></app-comments>
    </div>
    <app-new-comment-form [post]="post"></app-new-comment-form>
  </div>
</section>
<mat-divider></mat-divider>
