.post-wrapper {
  padding: 10% 15%;
}

.post {
  position: relative;
  border-radius: 10px;
  padding: 15px 0;
}

.post a {
  text-decoration: none;
}

.post a:visited {
  color: blueviolet;
}

.post:hover > .options i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post:hover button {
  padding: 1em;
}

.post .options {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin: 0.4em 0;
}

.post .options button {
  min-height: 0;
  margin-left: 5px;
}

.post .options i {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 1;
  font-size: 1.4em;
}

.post .options i:before {
  margin: 0;
}

.post .options > div {
  padding-right: 0.4em;
}

.post h1 {
  color: blueviolet;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4em;
  font-weight: 500;
  margin: 0.4em 0;
  border-radius: 10px 10px 0 0;
}

.post .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post .header-info h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  font-weight: 200;
  color: #606060;
}

.post .header-info .posting-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post .header-info .posting-info .post-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post .header-info .posting-info .separator {
  margin: 0 5px;
  font-size: 1.5em;
}

@media screen and (max-width: 580px) {
  .post .header-info .posting-info .separator {
    display: none;
    opacity: 0;
  }
}

.post .header-info .posting-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .header-info .posting-info .author .author-name {
  color: blueviolet;
}

.post .header-info .post-id {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
}

.post picture {
  width: 100px;
  height: 100px;
}

.post picture img {
  margin: auto;
}

.post p {
  font-family: "Open Sans", sans-serif;
  color: #33475b;
  border-radius: 0 0 10px 10px;
  font-size: 1.125rem;
  line-height: 1.6em;
  margin: 0.4em 0;
}

.editTextInput {
  width: 100%;
}

.comments-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments-area app-new-comment-form {
  width: 100%;
}
/*# sourceMappingURL=post.component.css.map */