:host {
  width: 100%;
  max-width: 800px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;

  mat-card {
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    box-shadow: 3px 5px 15px 0px #8a2be2;

    h1 {
      line-height: 56px;
      font-size: 36px;
      color: blueviolet;
      font-weight: 500;
      margin-left: 15px;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
  }
}
