<main>
  <nav>

    <mat-card routerLink="../home" routerLinkActive="active">
      <button mat-fab matTooltip="Go to Home" aria-label="Go to Home">
        <mat-icon>home</mat-icon>
      </button>
      <h1>Home</h1>
    </mat-card>

    <mat-card routerLink="../products" routerLinkActive="active">
      <button mat-fab matTooltip="Go to Products" aria-label="Go to Products">
        <mat-icon>shopping_basket</mat-icon>
      </button>
      <h1>Products</h1>
    </mat-card>

  </nav>

  <mat-card>

    <h1 *ngIf="wishlist.products.length===0">The <span>wishlist</span> is empty :(</h1>

    <mat-accordion multi>

      <app-product *ngFor="let product of wishlist.products" [product]="product"></app-product>

    </mat-accordion>

  </mat-card>
</main>
