<body>
  <main>
      <div class="text">
        <!-- <div @fade class='animTest'>
        <h1> Hi! I'm Diego Braga Ponte</h1>
        <h2> Welcome to my website</h2>
        </div> -->
        <ul @menuAnimation class="menu">
          <li class="li" ><h1>Hello</h1></li>
          <li class="li" ><h1>I'm Diego</h1></li>
          <li class="li" ><h1>Welcome</h1></li>
        </ul>
      </div>
        <video class="bg" autoplay="" muted="" loop>
          <source src="../../assets/video/200424_RayVioletRippleLoop.mp4" type="video/mp4" />
        </video>
  </main>
</body>
