<body>
  <main>
      <div class="text">
        <div @fade class='animTest'>
        <h1> Texto 1</h1>
        <h2> Texto 2</h2>
        </div>
        <ul @menuAnimation class="menu" id="test">
          <li class="li" ><a routerLink="home" routerLinkActive="active">Home</a></li>
          <li class="li" ><a routerLinkActive="active">About</a></li>
          <li class="li" ><a routerLink="portfolio" routerLinkActive="active">Portfolio</a></li>
          <li class="li" ><a routerLink="contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </div>
        <video class="bg" autoplay="" muted="" loop="">
          <source src="../../assets/video/200424_RayVioletRippleLoop.mp4" type="video/mp4" />
        </video>
  </main>

</body>
