main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 66px);
  background-color: #171819;

  svg {
    height: auto;
    width: 100%;
    padding: 16px 0;
  }

  mat-card {
    display: flex;
    flex-direction: column;
    min-height: 60%;
    width: 80%;
    max-width: 250px;
    z-index: 5;

    @media screen and (max-width: 500px) {
      min-height: 70%;
      width: 90%;
    }

    form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      height: 100%;
      padding-top: 16px;

      button {
        transition: 300 ease-in-out;
      }
      .create-account {
        align-self: center;
        color: blueviolet;
        font-weight: 500;
        padding-bottom: 16px;
        cursor: pointer;
      }
    }
  }

  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset !important;
}
